.hero {
  position: fixed;
  inset: 0;
}

.hero__body {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.hero__title {
  font-family: "Orbitron", sans-serif;
  font-size: clamp(2.5rem, 7.5vw, 5rem);
  letter-spacing: 0.1em;
}

.hero__text {
  margin-top: 1.5em;
  font-size: clamp(0.75rem, 2vw, 1rem);
  letter-spacing: 0.06em;
}

.hero__figure {
  height: 100vh;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
