.post {
  position: absolute;
  bottom: 5rem;
  left: 0;
}

.post__link {
  display: inline-block;
  width: 70%;
  padding: 1.5rem;
  color: #fff;
  text-decoration: none;
  background-color: rgb(0 0 0 / 70%);
  backdrop-filter: blur(10px);
}

.post__title {
  font-size: 1rem;
}

.post__body {
  font-size: 0.875rem;
}
